.foot-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: #fafafa;
  border-top: 1px solid #c5c5c5;
  font-size: 1.2rem;
}
.foot-menu a {
  color: #3f3f3f;
}
a:link, a:visited {
color: #575757;
text-decoration: none;
}
a {
text-decoration: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0.35);
}
a:link, a:visited {
color: #575757;
text-decoration: none;
}
a {
text-decoration: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0.35);
}
.foot-menu .menu-item {
  position: relative;
  // padding: 3.75% 0;
  display: inline-block;
  width: 33%;
  float: left;
  text-align: center;
  color: #333;
  border-right: 1px solid #c5c5c5;
}
.foot-menu .menu-item:last-child {
  border-right: 0;
}
.foot-menu .sub-menu {
  position: absolute;
  bottom: 150%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 80%;
  background-color: #fafafa;
  border: 1px solid #c5c5c5;
  border-radius: .5rem;
  display: none;
}
.foot-menu .sub-menu > li:last-child {
  border-bottom: 0;
}
.foot-menu li>a{
  font-size:15px;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  /*border:1px solid #f9f8f9;*/
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  border-bottom:0;
  display:block;
  line-height:45px;
  text-align:center;
  background:-webkit-gradient(linear, 0 0, 0 100%, from(#f1f1f1), to(#dcdcdc), color-stop(35% ,#ededed), color-stop(50%, #e3e3e3) );
}
.foot-menu .sub-menu li>a:only-child span{
  background:none;
  padding-left:0;
}
.foot-menu .sub-menu li>a.on + dl{
  display: block;
}
.foot-menu .sub-menu li>a span{
  color: #4f4d4f;
  display: inline-block;
  padding-left: 15px;
  // background: url(imgs/1.svg#2) no-repeat 4px 18px;
  -webkit-background-size: 9px auto;
  text-shadow:0px 1px 0px #ffffff;
}
.foot-menu .sub-menu:before {
  position: absolute;
  left: 50%;
  bottom: -1rem;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: .8rem solid transparent;
  border-right: .8rem solid transparent;
  border-top: 1rem solid #ccc;
}
.foot-menu .sub-menu:after {
  position: absolute;
  left: 50%;
  bottom: -0.9rem;
  transform: translateX(-50%);
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: .8rem solid transparent;
  border-right: .8rem solid transparent;
  border-top: 1rem solid #fff;
}
.transMask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  background-color: transparent;
}
